In [211]:
import pandas as pd
import numpy as np
import re

In [212]:
df_j = pd.read_excel("./data/JockeyList(기수).xlsx")
df_t = pd.read_excel("./data/TrainerList(조교사).xlsx")

C:\Users\NTX550\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\NTX550\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

최근 1년 전적은 현재 기준이므로 지운다.  
통산전적만 scoring화 하는데 사용한다

# 기수 scoring

In [213]:
# 필요없는 컬럼 제거
# 순, 데뷔일자, 비고, 최근1년전적, 기승가능중량 제거
df_j.drop(columns=['순', '데뷔일자', '비고', '최근1년전적', '기승가능중량'], inplace=True)
df_j

         기수명                    통산전적
0    null김귀배      4550전(326/326/386)
1    null김덕현          405전(52/41/33)
2    null김동수      3102전(282/296/323)
3    (-2)김아현          618전(24/48/37)
4    null김옥성      8589전(549/663/758)
5    null김용근      5420전(841/704/605)
6    null김정준      3083전(187/239/242)
7    null김태훈         1139전(64/79/87)
8    (-1)김태희          310전(30/27/37)
9    null김효정         1351전(63/78/98)
10   null다비드      1741전(139/154/154)
11    null먼로      1189전(128/157/128)
12   null문성혁         1007전(84/79/90)
13   null문세영   8481전(1796/1330/1020)
14   null문정균      6552전(447/540/551)
15   null박병윤      2684전(163/199/203)
16   null박상우       2496전(91/149/155)
17   null박을운      3923전(457/440/387)
18   null박태종  15157전(2193/2028/1721)
19   null박현우      1946전(119/118/129)
20   null방춘식      4972전(376/376/422)
21   null부민호      1930전(129/126/149)
22  null빅투아르      1839전(199/205/201)
23   null송재철      3380전(274/310/315)
24   null신형철      7325전(765/801/753)
25  null안토니오      2095전(287/273/212)
26   null안효리        1626전(78/83/100)
27   (-3)오수철           108전(12/8/14)
28   null유승완      4979전(434/389/468)
29   null이동진          735전(48/53/51)
30   null이동하      1637전(129/152/162)
31   (-4)이상규              50전(1/2/2)
32   null이용호         1026전(61/70/83)
33   null이철경         1116전(86/96/89)
34    null이혁      4442전(409/372/366)
35   null이현종      1689전(191/164/190)
36   null임기원      2787전(390/299/310)
37   null임다빈          811전(60/63/72)
38   null장추열      3616전(361/382/391)
39   null정정희      1816전(106/119/131)
40   null조상범       1723전(69/135/133)
41   null조재로      1467전(112/132/148)
42   null조한별       1874전(74/120/126)
43   null최범현      6947전(869/822/733)
44   null하정훈        1541전(69/96/106)
45   null함완식      6254전(794/807/735)
46   null황종우          799전(25/33/47)

In [214]:
# 기수명 앞에 null 지우기
df_j.loc[:,"기수명"] = df_j.loc[:,"기수명"].apply(lambda x: re.sub(r"[^ ㄱ-ㅣ가-힣+]", "", x))
df_j

     기수명                    통산전적
0    김귀배      4550전(326/326/386)
1    김덕현          405전(52/41/33)
2    김동수      3102전(282/296/323)
3    김아현          618전(24/48/37)
4    김옥성      8589전(549/663/758)
5    김용근      5420전(841/704/605)
6    김정준      3083전(187/239/242)
7    김태훈         1139전(64/79/87)
8    김태희          310전(30/27/37)
9    김효정         1351전(63/78/98)
10   다비드      1741전(139/154/154)
11    먼로      1189전(128/157/128)
12   문성혁         1007전(84/79/90)
13   문세영   8481전(1796/1330/1020)
14   문정균      6552전(447/540/551)
15   박병윤      2684전(163/199/203)
16   박상우       2496전(91/149/155)
17   박을운      3923전(457/440/387)
18   박태종  15157전(2193/2028/1721)
19   박현우      1946전(119/118/129)
20   방춘식      4972전(376/376/422)
21   부민호      1930전(129/126/149)
22  빅투아르      1839전(199/205/201)
23   송재철      3380전(274/310/315)
24   신형철      7325전(765/801/753)
25  안토니오      2095전(287/273/212)
26   안효리        1626전(78/83/100)
27   오수철           108전(12/8/14)
28   유승완      4979전(434/389/468)
29   이동진          735전(48/53/51)
30   이동하      1637전(129/152/162)
31   이상규              50전(1/2/2)
32   이용호         1026전(61/70/83)
33   이철경         1116전(86/96/89)
34    이혁      4442전(409/372/366)
35   이현종      1689전(191/164/190)
36   임기원      2787전(390/299/310)
37   임다빈          811전(60/63/72)
38   장추열      3616전(361/382/391)
39   정정희      1816전(106/119/131)
40   조상범       1723전(69/135/133)
41   조재로      1467전(112/132/148)
42   조한별       1874전(74/120/126)
43   최범현      6947전(869/822/733)
44   하정훈        1541전(69/96/106)
45   함완식      6254전(794/807/735)
46   황종우          799전(25/33/47)

In [215]:
df_j['기수명'].unique()

array(['김귀배', '김덕현', '김동수', '김아현', '김옥성', '김용근', '김정준', '김태훈', '김태희',
       '김효정', '다비드', '먼로', '문성혁', '문세영', '문정균', '박병윤', '박상우', '박을운',
       '박태종', '박현우', '방춘식', '부민호', '빅투아르', '송재철', '신형철', '안토니오', '안효리',
       '오수철', '유승완', '이동진', '이동하', '이상규', '이용호', '이철경', '이혁', '이현종',
       '임기원', '임다빈', '장추열', '정정희', '조상범', '조재로', '조한별', '최범현', '하정훈',
       '함완식', '황종우'], dtype=object)

In [216]:
# 기수
'''
a = ['정평수', '이기회', '윤태혁', '지하주',  '이동국',  '황순도', '이강서',
     '최원준',  '송경윤', '유현명', '윤영민', '이해동', '페로비치', '조인권','진겸', '전진구', '김철호',
     '박재이', '서승운', '요아니스','최은경', '최시대', '채상현', '이성재']
     '''

"\na = ['정평수', '이기회', '윤태혁', '지하주',  '이동국',  '황순도', '이강서',\n     '최원준',  '송경윤', '유현명', '윤영민', '이해동', '페로비치', '조인권','진겸', '전진구', '김철호',\n     '박재이', '서승운', '요아니스','최은경', '최시대', '채상현', '이성재']\n     "

### 없는 기수 정보 추가

기수정보  
다나카 : 1554전 (157/141/174)  
이준철 : 3057전(263/282/307)  
우에다 : 272전(18/12/18)  
권석원 : 607전(35/34/47)        
다실바 :4전(0/0/0)

In [217]:
a = {"기수명" : "다나카", "통산전적" : "1554전(157/141/174)"}
b = {"기수명" : "이준철", "통산전적" : "3057전(263/282/307)"}
c = {"기수명" : "우에다", "통산전적" : "272전(18/12/18)"}
d = {"기수명" : "권석원", "통산전적" : "607전(35/34/47)"}
e = {"기수명" : "다실바", "통산전적" : "4전(0/0/0)"}
df_j = df_j.append(a, ignore_index=True)
df_j = df_j.append(b, ignore_index=True)
df_j = df_j.append(c, ignore_index=True)
df_j = df_j.append(d, ignore_index=True)
df_j = df_j.append(e, ignore_index=True)
df_j

C:\Users\NTX550\AppData\Local\Temp\ipykernel_3116\2048106789.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_j = df_j.append(a, ignore_index=True)
C:\Users\NTX550\AppData\Local\Temp\ipykernel_3116\2048106789.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_j = df_j.append(b, ignore_index=True)
C:\Users\NTX550\AppData\Local\Temp\ipykernel_3116\2048106789.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_j = df_j.append(c, ignore_index=True)
C:\Users\NTX550\AppData\Local\Temp\ipykernel_3116\2048106789.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_j = df_j.append(d, ignore_index=True)
C:\Users\NTX550\AppData\Local\Temp\ipykernel_3116\2048106789.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_j = df_j.append(e, ignore_index=True)

     기수명                    통산전적
0    김귀배      4550전(326/326/386)
1    김덕현          405전(52/41/33)
2    김동수      3102전(282/296/323)
3    김아현          618전(24/48/37)
4    김옥성      8589전(549/663/758)
5    김용근      5420전(841/704/605)
6    김정준      3083전(187/239/242)
7    김태훈         1139전(64/79/87)
8    김태희          310전(30/27/37)
9    김효정         1351전(63/78/98)
10   다비드      1741전(139/154/154)
11    먼로      1189전(128/157/128)
12   문성혁         1007전(84/79/90)
13   문세영   8481전(1796/1330/1020)
14   문정균      6552전(447/540/551)
15   박병윤      2684전(163/199/203)
16   박상우       2496전(91/149/155)
17   박을운      3923전(457/440/387)
18   박태종  15157전(2193/2028/1721)
19   박현우      1946전(119/118/129)
20   방춘식      4972전(376/376/422)
21   부민호      1930전(129/126/149)
22  빅투아르      1839전(199/205/201)
23   송재철      3380전(274/310/315)
24   신형철      7325전(765/801/753)
25  안토니오      2095전(287/273/212)
26   안효리        1626전(78/83/100)
27   오수철           108전(12/8/14)
28   유승완      4979전(434/389/468)
29   이동진          735전(48/53/51)
30   이동하      1637전(129/152/162)
31   이상규              50전(1/2/2)
32   이용호         1026전(61/70/83)
33   이철경         1116전(86/96/89)
34    이혁      4442전(409/372/366)
35   이현종      1689전(191/164/190)
36   임기원      2787전(390/299/310)
37   임다빈          811전(60/63/72)
38   장추열      3616전(361/382/391)
39   정정희      1816전(106/119/131)
40   조상범       1723전(69/135/133)
41   조재로      1467전(112/132/148)
42   조한별       1874전(74/120/126)
43   최범현      6947전(869/822/733)
44   하정훈        1541전(69/96/106)
45   함완식      6254전(794/807/735)
46   황종우          799전(25/33/47)
47   다나카      1554전(157/141/174)
48   이준철      3057전(263/282/307)
49   우에다          272전(18/12/18)
50   권석원          607전(35/34/47)
51   다실바               4전(0/0/0)

In [218]:
# 통산전적 컬럼 숫자 분리
temp1 = df_j.loc[:,"통산전적"].apply(lambda x: re.sub(r"[^0-9]", " ", x).split())
temp1

0         [4550, 326, 326, 386]
1             [405, 52, 41, 33]
2         [3102, 282, 296, 323]
3             [618, 24, 48, 37]
4         [8589, 549, 663, 758]
5         [5420, 841, 704, 605]
6         [3083, 187, 239, 242]
7            [1139, 64, 79, 87]
8             [310, 30, 27, 37]
9            [1351, 63, 78, 98]
10        [1741, 139, 154, 154]
11        [1189, 128, 157, 128]
12           [1007, 84, 79, 90]
13     [8481, 1796, 1330, 1020]
14        [6552, 447, 540, 551]
15        [2684, 163, 199, 203]
16         [2496, 91, 149, 155]
17        [3923, 457, 440, 387]
18    [15157, 2193, 2028, 1721]
19        [1946, 119, 118, 129]
20        [4972, 376, 376, 422]
21        [1930, 129, 126, 149]
22        [1839, 199, 205, 201]
23        [3380, 274, 310, 315]
24        [7325, 765, 801, 753]
25        [2095, 287, 273, 212]
26          [1626, 78, 83, 100]
27             [108, 12, 8, 14]
28        [4979, 434, 389, 468]
29            [735, 48, 53, 51]
30        [1637, 129, 152, 162]
31                [50, 1, 2, 2]
32           [1026, 61, 70, 83]
33           [1116, 86, 96, 89]
34        [4442, 409, 372, 366]
35        [1689, 191, 164, 190]
36        [2787, 390, 299, 310]
37            [811, 60, 63, 72]
38        [3616, 361, 382, 391]
39        [1816, 106, 119, 131]
40         [1723, 69, 135, 133]
41        [1467, 112, 132, 148]
42         [1874, 74, 120, 126]
43        [6947, 869, 822, 733]
44          [1541, 69, 96, 106]
45        [6254, 794, 807, 735]
46            [799, 25, 33, 47]
47        [1554, 157, 141, 174]
48        [3057, 263, 282, 307]
49            [272, 18, 12, 18]
50            [607, 35, 34, 47]
51                 [4, 0, 0, 0]
Name: 통산전적, dtype: object

In [219]:
df_j['Score'] = temp1.apply(lambda x : int(x[1])*3 + int(x[2])*2 + int(x[3])*1  / int(x[0]))

In [220]:
df_j

     기수명                    통산전적         Score
0    김귀배      4550전(326/326/386)   1630.084835
1    김덕현          405전(52/41/33)    238.081481
2    김동수      3102전(282/296/323)   1438.104126
3    김아현          618전(24/48/37)    168.059871
4    김옥성      8589전(549/663/758)   2973.088252
5    김용근      5420전(841/704/605)   3931.111624
6    김정준      3083전(187/239/242)   1039.078495
7    김태훈         1139전(64/79/87)    350.076383
8    김태희          310전(30/27/37)    144.119355
9    김효정         1351전(63/78/98)    345.072539
10   다비드      1741전(139/154/154)    725.088455
11    먼로      1189전(128/157/128)    698.107653
12   문성혁         1007전(84/79/90)    410.089374
13   문세영   8481전(1796/1330/1020)   8048.120269
14   문정균      6552전(447/540/551)   2421.084096
15   박병윤      2684전(163/199/203)    887.075633
16   박상우       2496전(91/149/155)    571.062099
17   박을운      3923전(457/440/387)   2251.098649
18   박태종  15157전(2193/2028/1721)  10635.113545
19   박현우      1946전(119/118/129)    593.066290
20   방춘식      4972전(376/376/422)   1880.084875
21   부민호      1930전(129/126/149)    639.077202
22  빅투아르      1839전(199/205/201)   1007.109299
23   송재철      3380전(274/310/315)   1442.093195
24   신형철      7325전(765/801/753)   3897.102799
25  안토니오      2095전(287/273/212)   1407.101193
26   안효리        1626전(78/83/100)    400.061501
27   오수철           108전(12/8/14)     52.129630
28   유승완      4979전(434/389/468)   2080.093995
29   이동진          735전(48/53/51)    250.069388
30   이동하      1637전(129/152/162)    691.098962
31   이상규              50전(1/2/2)      7.040000
32   이용호         1026전(61/70/83)    323.080897
33   이철경         1116전(86/96/89)    450.079749
34    이혁      4442전(409/372/366)   1971.082395
35   이현종      1689전(191/164/190)    901.112493
36   임기원      2787전(390/299/310)   1768.111231
37   임다빈          811전(60/63/72)    306.088779
38   장추열      3616전(361/382/391)   1847.108131
39   정정희      1816전(106/119/131)    556.072137
40   조상범       1723전(69/135/133)    477.077191
41   조재로      1467전(112/132/148)    600.100886
42   조한별       1874전(74/120/126)    462.067236
43   최범현      6947전(869/822/733)   4251.105513
44   하정훈        1541전(69/96/106)    399.068787
45   함완식      6254전(794/807/735)   3996.117525
46   황종우          799전(25/33/47)    141.058824
47   다나카      1554전(157/141/174)    753.111969
48   이준철      3057전(263/282/307)   1353.100425
49   우에다          272전(18/12/18)     78.066176
50   권석원          607전(35/34/47)    173.077430
51   다실바               4전(0/0/0)      0.000000

In [221]:
df_j.drop(columns='통산전적', inplace=True)
df_j

     기수명         Score
0    김귀배   1630.084835
1    김덕현    238.081481
2    김동수   1438.104126
3    김아현    168.059871
4    김옥성   2973.088252
5    김용근   3931.111624
6    김정준   1039.078495
7    김태훈    350.076383
8    김태희    144.119355
9    김효정    345.072539
10   다비드    725.088455
11    먼로    698.107653
12   문성혁    410.089374
13   문세영   8048.120269
14   문정균   2421.084096
15   박병윤    887.075633
16   박상우    571.062099
17   박을운   2251.098649
18   박태종  10635.113545
19   박현우    593.066290
20   방춘식   1880.084875
21   부민호    639.077202
22  빅투아르   1007.109299
23   송재철   1442.093195
24   신형철   3897.102799
25  안토니오   1407.101193
26   안효리    400.061501
27   오수철     52.129630
28   유승완   2080.093995
29   이동진    250.069388
30   이동하    691.098962
31   이상규      7.040000
32   이용호    323.080897
33   이철경    450.079749
34    이혁   1971.082395
35   이현종    901.112493
36   임기원   1768.111231
37   임다빈    306.088779
38   장추열   1847.108131
39   정정희    556.072137
40   조상범    477.077191
41   조재로    600.100886
42   조한별    462.067236
43   최범현   4251.105513
44   하정훈    399.068787
45   함완식   3996.117525
46   황종우    141.058824
47   다나카    753.111969
48   이준철   1353.100425
49   우에다     78.066176
50   권석원    173.077430
51   다실바      0.000000

In [222]:
df_j['Score'].mean()

1424.1640929920507

In [223]:
a = ['정평수', '이기회', '윤태혁', '지하주',  '이동국',  '황순도', '이강서',
     '최원준',  '송경윤', '유현명', '윤영민', '이해동', '페로비치', '조인권','진겸', '전진구', '김철호',
     '박재이', '서승운', '요아니스','최은경', '최시대', '채상현', '이성재']

len(a)

24

In [224]:
a = ['정평수', '이기회', '윤태혁', '지하주',  '이동국',  '황순도', '이강서',
     '최원준',  '송경윤', '유현명', '윤영민', '이해동', '페로비치', '조인권','진겸', '전진구', '김철호',
     '박재이', '서승운', '요아니스','최은경', '최시대', '채상현', '이성재']

for i in range(24):
    df_j.loc[i+52]=[a[i], '1424.1640929920507']

df_j

     기수명               Score
0    김귀배         1630.084835
1    김덕현          238.081481
2    김동수         1438.104126
3    김아현          168.059871
4    김옥성         2973.088252
..   ...                 ...
71  요아니스  1424.1640929920507
72   최은경  1424.1640929920507
73   최시대  1424.1640929920507
74   채상현  1424.1640929920507
75   이성재  1424.1640929920507

[76 rows x 2 columns]

# 조교사 scoring

In [225]:
# 필요없는 컬럼 제거
# 순, 데뷔일자, 비고 제거
df_t.drop(columns=['순', '소속조', '데뷔일자', '위탁관리두수', '최근1년전적'], inplace=True)
df_t

   조교사명              통산전적
0   강성오      703전82/81/60
1   강환민  1043전126/120/118
2   곽영효  4834전501/476/424
3   구자흥  2055전155/208/203
4   김동균  2901전293/255/271
5   김동철   1568전87/132/132
6   김윤섭  5100전326/412/428
7   리카디     721전93/100/83
8   문병기          65전8/8/7
9   박병일  2013전172/199/188
10  박윤규  4232전332/370/387
11  박재우  3429전458/379/334
12  박종곤  4821전511/450/462
13  박천서  4523전430/422/431
14  박희철  5190전387/440/453
15  배대선  7898전871/841/824
16  배휴준  4638전320/378/395
17  서범석  5067전445/461/457
18  서인석  4828전444/478/464
19  서홍수  2510전232/227/241
20  손영표  3018전234/232/206
21  송문길  2450전352/290/258
22  신삼영  2315전215/203/206
23  심승태  2377전180/215/205
24  안병기  4180전424/383/383
25  안해양  4460전399/365/379
26  우창구  3287전329/283/287
27  유재길  5763전416/443/491
28  이관호  2576전272/227/275
29  이신영  2657전346/223/253
30  이준철      197전38/28/23
31  이희영  8485전678/742/758
32  임채덕       335전7/18/23
33  전승규    922전142/112/98
34  정호익  5224전533/552/536
35  조현수      945전39/61/76
36  최봉주  3010전221/230/241
37  최상식  6324전486/516/547
38  최영주  4995전370/386/365
39  최용건      478전49/33/42
40  최용구  1821전208/194/168
41   토니      465전41/49/52
42  홍대유  4133전357/358/358

In [226]:
# 최근1년전적, 통산전적 컬럼 숫자 분리
temp = df_t.loc[:,"통산전적"].apply(lambda x: re.sub(r"[^0-9]", " ", x).split())
temp

0         [703, 82, 81, 60]
1     [1043, 126, 120, 118]
2     [4834, 501, 476, 424]
3     [2055, 155, 208, 203]
4     [2901, 293, 255, 271]
5      [1568, 87, 132, 132]
6     [5100, 326, 412, 428]
7        [721, 93, 100, 83]
8             [65, 8, 8, 7]
9     [2013, 172, 199, 188]
10    [4232, 332, 370, 387]
11    [3429, 458, 379, 334]
12    [4821, 511, 450, 462]
13    [4523, 430, 422, 431]
14    [5190, 387, 440, 453]
15    [7898, 871, 841, 824]
16    [4638, 320, 378, 395]
17    [5067, 445, 461, 457]
18    [4828, 444, 478, 464]
19    [2510, 232, 227, 241]
20    [3018, 234, 232, 206]
21    [2450, 352, 290, 258]
22    [2315, 215, 203, 206]
23    [2377, 180, 215, 205]
24    [4180, 424, 383, 383]
25    [4460, 399, 365, 379]
26    [3287, 329, 283, 287]
27    [5763, 416, 443, 491]
28    [2576, 272, 227, 275]
29    [2657, 346, 223, 253]
30        [197, 38, 28, 23]
31    [8485, 678, 742, 758]
32         [335, 7, 18, 23]
33      [922, 142, 112, 98]
34    [5224, 533, 552, 536]
35        [945, 39, 61, 76]
36    [3010, 221, 230, 241]
37    [6324, 486, 516, 547]
38    [4995, 370, 386, 365]
39        [478, 49, 33, 42]
40    [1821, 208, 194, 168]
41        [465, 41, 49, 52]
42    [4133, 357, 358, 358]
Name: 통산전적, dtype: object

In [227]:
df_t['Score'] = temp.apply(lambda x : int(x[1])*3 + int(x[2])*2 + int(x[3])*1  / int(x[0]))
df_t

   조교사명              통산전적        Score
0   강성오      703전82/81/60   408.085349
1   강환민  1043전126/120/118   618.113135
2   곽영효  4834전501/476/424  2455.087712
3   구자흥  2055전155/208/203   881.098783
4   김동균  2901전293/255/271  1389.093416
5   김동철   1568전87/132/132   525.084184
6   김윤섭  5100전326/412/428  1802.083922
7   리카디     721전93/100/83   479.115118
8   문병기          65전8/8/7    40.107692
9   박병일  2013전172/199/188   914.093393
10  박윤규  4232전332/370/387  1736.091446
11  박재우  3429전458/379/334  2132.097404
12  박종곤  4821전511/450/462  2433.095831
13  박천서  4523전430/422/431  2134.095291
14  박희철  5190전387/440/453  2041.087283
15  배대선  7898전871/841/824  4295.104330
16  배휴준  4638전320/378/395  1716.085166
17  서범석  5067전445/461/457  2257.090191
18  서인석  4828전444/478/464  2288.096106
19  서홍수  2510전232/227/241  1150.096016
20  손영표  3018전234/232/206  1166.068257
21  송문길  2450전352/290/258  1636.105306
22  신삼영  2315전215/203/206  1051.088985
23  심승태  2377전180/215/205   970.086243
24  안병기  4180전424/383/383  2038.091627
25  안해양  4460전399/365/379  1927.084978
26  우창구  3287전329/283/287  1553.087314
27  유재길  5763전416/443/491  2134.085199
28  이관호  2576전272/227/275  1270.106755
29  이신영  2657전346/223/253  1484.095220
30  이준철      197전38/28/23   170.116751
31  이희영  8485전678/742/758  3518.089334
32  임채덕       335전7/18/23    57.068657
33  전승규    922전142/112/98   650.106291
34  정호익  5224전533/552/536  2703.102603
35  조현수      945전39/61/76   239.080423
36  최봉주  3010전221/230/241  1123.080066
37  최상식  6324전486/516/547  2490.086496
38  최영주  4995전370/386/365  1882.073073
39  최용건      478전49/33/42   213.087866
40  최용구  1821전208/194/168  1012.092257
41   토니      465전41/49/52   221.111828
42  홍대유  4133전357/358/358  1787.086620

In [228]:
df_t.drop(columns='통산전적', inplace=True)
df_t

   조교사명        Score
0   강성오   408.085349
1   강환민   618.113135
2   곽영효  2455.087712
3   구자흥   881.098783
4   김동균  1389.093416
5   김동철   525.084184
6   김윤섭  1802.083922
7   리카디   479.115118
8   문병기    40.107692
9   박병일   914.093393
10  박윤규  1736.091446
11  박재우  2132.097404
12  박종곤  2433.095831
13  박천서  2134.095291
14  박희철  2041.087283
15  배대선  4295.104330
16  배휴준  1716.085166
17  서범석  2257.090191
18  서인석  2288.096106
19  서홍수  1150.096016
20  손영표  1166.068257
21  송문길  1636.105306
22  신삼영  1051.088985
23  심승태   970.086243
24  안병기  2038.091627
25  안해양  1927.084978
26  우창구  1553.087314
27  유재길  2134.085199
28  이관호  1270.106755
29  이신영  1484.095220
30  이준철   170.116751
31  이희영  3518.089334
32  임채덕    57.068657
33  전승규   650.106291
34  정호익  2703.102603
35  조현수   239.080423
36  최봉주  1123.080066
37  최상식  2490.086496
38  최영주  1882.073073
39  최용건   213.087866
40  최용구  1012.092257
41   토니   221.111828
42  홍대유  1787.086620

In [229]:
# 조교사
# T = ['임봉춘', '지용철', '김대근', '박대흥', '김점오', '서정하']

In [230]:
df_t['Score'].mean()

1464.9066027265987

In [231]:
T = ['임봉춘', '지용철', '김대근', '박대흥', '김점오', '서정하']

for i in range(6):
    df_t.loc[i+43]=[T[i], '1464.9066027265987']

df_t

   조교사명               Score
0   강성오          408.085349
1   강환민          618.113135
2   곽영효         2455.087712
3   구자흥          881.098783
4   김동균         1389.093416
5   김동철          525.084184
6   김윤섭         1802.083922
7   리카디          479.115118
8   문병기           40.107692
9   박병일          914.093393
10  박윤규         1736.091446
11  박재우         2132.097404
12  박종곤         2433.095831
13  박천서         2134.095291
14  박희철         2041.087283
15  배대선          4295.10433
16  배휴준         1716.085166
17  서범석         2257.090191
18  서인석         2288.096106
19  서홍수         1150.096016
20  손영표         1166.068257
21  송문길         1636.105306
22  신삼영         1051.088985
23  심승태          970.086243
24  안병기         2038.091627
25  안해양         1927.084978
26  우창구         1553.087314
27  유재길         2134.085199
28  이관호         1270.106755
29  이신영          1484.09522
30  이준철          170.116751
31  이희영         3518.089334
32  임채덕           57.068657
33  전승규          650.106291
34  정호익         2703.102603
35  조현수          239.080423
36  최봉주         1123.080066
37  최상식         2490.086496
38  최영주         1882.073073
39  최용건          213.087866
40  최용구         1012.092257
41   토니          221.111828
42  홍대유          1787.08662
43  임봉춘  1464.9066027265987
44  지용철  1464.9066027265987
45  김대근  1464.9066027265987
46  박대흥  1464.9066027265987
47  김점오  1464.9066027265987
48  서정하  1464.9066027265987

# 기수, 조교사 minmax scaling

In [233]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import minmax_scale

In [234]:
df_j

     기수명               Score
0    김귀배         1630.084835
1    김덕현          238.081481
2    김동수         1438.104126
3    김아현          168.059871
4    김옥성         2973.088252
..   ...                 ...
71  요아니스  1424.1640929920507
72   최은경  1424.1640929920507
73   최시대  1424.1640929920507
74   채상현  1424.1640929920507
75   이성재  1424.1640929920507

[76 rows x 2 columns]

In [235]:
df_j.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76 entries, 0 to 75
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기수명     76 non-null     object
 1   Score   76 non-null     object
dtypes: object(2)
memory usage: 1.8+ KB

In [236]:
df_j.iloc[:,1] = df_j.iloc[:,1].astype(float)
df_t.iloc[:,1] = df_t.iloc[:,1].astype(float)

In [237]:
df_j.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76 entries, 0 to 75
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기수명     76 non-null     object
 1   Score   76 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.8+ KB

In [238]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49 entries, 0 to 48
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   조교사명    49 non-null     object
 1   Score   49 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.1+ KB

In [239]:
print(df_j.min())
print(df_j.max())

기수명      권석원
Score    0.0
dtype: object
기수명               황종우
Score    10635.113545
dtype: object

In [240]:
J_MinMax_scaled = minmax_scale(df_j['Score'], axis=0, copy=True)
T_MinMax_scaled = minmax_scale(df_t['Score'], axis=0, copy=True)
J_MinMax_scaled

array([1.53273853e-01, 2.23863601e-02, 1.35222264e-01, 1.58023579e-02,
       2.79553974e-01, 3.69635134e-01, 9.77026235e-02, 3.29170329e-02,
       1.35512756e-02, 3.24465308e-02, 6.81787225e-02, 6.56417678e-02,
       3.85599432e-02, 7.56749821e-01, 2.27650047e-01, 8.34100764e-02,
       5.36959100e-02, 2.11666630e-01, 1.00000000e+00, 5.57649232e-02,
       1.76780894e-01, 6.00912439e-02, 9.46966193e-02, 1.35597348e-01,
       3.66437348e-01, 1.32307115e-01, 3.76170408e-02, 4.90165238e-03,
       1.95587380e-01, 2.35135607e-02, 6.49827535e-02, 6.61958142e-04,
       3.03786974e-02, 4.23201640e-02, 1.85337222e-01, 8.47299362e-02,
       1.66252219e-01, 2.87809602e-02, 1.73680151e-01, 5.22864316e-02,
       4.48586834e-02, 5.64263732e-02, 4.34473251e-02, 3.99723566e-01,
       3.75236978e-02, 3.75747519e-01, 1.32634995e-02, 7.08137215e-02,
       1.27229523e-01, 7.34041777e-03, 1.62741497e-02, 0.00000000e+00,
       1.33911508e-01, 1.33911508e-01, 1.33911508e-01, 1.33911508e-01,
       1.33911508e-01, 1.33911508e-01, 1.33911508e-01, 1.33911508e-01,
       1.33911508e-01, 1.33911508e-01, 1.33911508e-01, 1.33911508e-01,
       1.33911508e-01, 1.33911508e-01, 1.33911508e-01, 1.33911508e-01,
       1.33911508e-01, 1.33911508e-01, 1.33911508e-01, 1.33911508e-01,
       1.33911508e-01, 1.33911508e-01, 1.33911508e-01, 1.33911508e-01])

In [241]:
J_MinMax_scaled[0]

0.1532738534744681

In [242]:
df_j.iloc[:,1] = J_MinMax_scaled
df_t.iloc[:,1] = T_MinMax_scaled

In [243]:
df_j.iloc[:,1]

0     0.153274
1     0.022386
2     0.135222
3     0.015802
4     0.279554
        ...
71    0.133912
72    0.133912
73    0.133912
74    0.133912
75    0.133912
Name: Score, Length: 76, dtype: float64

In [244]:
df_t.iloc[:,1]

0     0.086481
1     0.135842
2     0.567563
3     0.197648
4     0.317036
5     0.113978
6     0.414096
7     0.103175
8     0.000000
9     0.205402
10    0.398586
11    0.491655
12    0.562395
13    0.492124
14    0.470266
15    1.000000
16    0.393885
17    0.521030
18    0.528317
19    0.260867
20    0.264621
21    0.375088
22    0.237599
23    0.218562
24    0.469562
25    0.443473
26    0.355577
27    0.492122
28    0.289072
29    0.339363
30    0.030554
31    0.817388
32    0.003986
33    0.143361
34    0.625851
35    0.046762
36    0.254518
37    0.575789
38    0.432895
39    0.040653
40    0.228434
41    0.042539
42    0.410571
43    0.334853
44    0.334853
45    0.334853
46    0.334853
47    0.334853
48    0.334853
Name: Score, dtype: float64

In [245]:
df_j.to_csv('data/jockey_score.csv', index=False, encoding='utf-8-sig')
df_t.to_csv('data/trainer_score.csv', index=False, encoding='utf-8-sig')